<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="org.d1scw0rld.bookbag.HiltTestActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Empty"/>
    </application>
</manifest>
